:root {
    --color_back: #FFFFFF;
    --color_text: #000000;
}

header{
    text-align: center;
}

body{
    font-family: Courier, monospace;
    margin: 0;
    background-color: var(--color_back);
    color: var(--color_text);
}

main {
    margin: 0 25%;
    border: dotted var(--color_text) 4px;
}

section {
    padding: 5% 5% 0 5%;
    text-align: justify;
}

/* Tables */

.tableaux {
    display: flex;
    justify-content: center;
}

table, td{
    margin: 20px;
    padding: 20px;
    border: solid var(--color_text) 2px;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.cache {
    background-color: var(--color_text);
}






/* Menu déroulant */

nav {
	width: 100%;
	margin: 0 auto;
	background-color: var(--color_back);
	position: sticky;
	top: 0px;
}

nav ul {
	list-style-type: none;
	padding: 0px;
}

nav ul li {
	float: left;
	width: 33.3333333%;
	text-align: center;
	position: relative;
}

nav ul::after {
	content: "";
	display: table;
	clear: both;
}

nav a {
	display: block;
	text-decoration: none;
	color: var(--color_text);
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover {
	color: orange;
	border-bottom: 2px solid gold;
}

.sous {
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

nav > ul li:hover .sous {
	display: block;
}

.sous li {
	float: none;
	width: 100%;
	text-align: center;
}

.sous a {
	padding: 10px;
	border-bottom: none;
}

.sous a:hover {
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after {
	content: "  ▼";
}

.deroulant > a::before {
	content: "▼  ";
}

/*  */


